@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-weight: normala;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("assets/bg.png");
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
        filter: drop-shadow(5px 5px 5px #666666);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  color: rgba(0, 0, 0, .75);
  border: 1px solid rgba(0, 0, 0, .75);
  outline: none;
  background-color: #a8201a;
  transition: 0.2s ease;
}

.calculator-grid > button:hover {
  background-color: #457b9d;
  transform: scale(1.02);
  font-size: 2.1rem;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
